<div class="scroller">
  <div class="container">
      <h1>UI规范</h1>
      <p>用TemplateManager加载.</p>
      <p>可专门用来存放模板</p>
      <ul>
          <li>a mistyped address</li>
          <li>an out-of-date link</li>
      </ul>
  </div>

  //dialog
  <div class="modal">
    <div class="modal-header">
      <h3>友情提示</h3>
    </div>
    <div class="modal-body">
      <p>执行此操作会引起未知后果, 是否继续?</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="button cancel">取消</a>
      <a href="#" class="button ok">确定</a>
    </div>
  </div>

  //loading
  <div id="spin"></div>
  <div class="d-box">
    <i class="icon-loading"></i>加载中...
  </div>
  //tip
  <div class="tip">
    这里是个提示
  </div>

  //page


</div>