<div class="scroller">
  <div class="container">
      <h1>UI规范</h1>
      <p>用TemplateManager加载.</p>
      <p>可专门用来存放模板</p>
      <ul>
          <li>a mistyped address</li>
          <li>an out-of-date link</li>
      </ul>
  </div>

  //dialog
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="button">Close</a>
      <a href="#" class="button">Save changes</a>
    </div>
  </div>

  //loading
  <div class="loading fixed"><i class="icon icon-loading"></i>加载中...</div>
  <div id="spin"></div>

  //tip
  <div class="tip">
    这里是个提示
  </div>

  //page


</div>